# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_main 
bin

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.mprof

TAGS

test

# Python
__pycache__
*.pyc

# OSX
.DS_Store

# Eclipse support
.project
.settings
.externalToolBuilders
couchbase_experiment
lotsofkeys
couchbase_lotsofkeys

#IntelliJ
.idea
*.iml

#VSCode
.vscode

#Claude
**/.claude/settings.local.json
